!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Homie
    = csrf_meta_tags
    = csp_meta_tag
   
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => "#{controller_name} #{action_name}"}
    = render "layouts/navigation"
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              - flash.each do |name, msg|
                - if msg.is_a?(String)
                  %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                    %a.close{"data-dismiss" => "alert"} ×
                    = content_tag :div, msg, :id => "flash_#{name}"
              = yield
          %footer
